*{
	font-family: Courier, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	
}

body {
	background-size: cover;
}

header{
	width: 60%;
	margin: 0 auto;
	padding: 1em 0;
	background-image: url("./images/ocedrop.png");
	background-size: 15%;
	display: flex;
	justify-content: space-around;
	text-shadow: 3px 3px 3px #b7ff3a;
}

h2{
	font-size: 5em;
}

h3{
	font-size: 3em;
	font-style: italic;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
/*	align-items: center;*/
/*that's to keep things from stretching out*/
	position: relative;
	width: 100vw;
	margin: 5em auto;
	text-align: center;
	text-shadow: 3px 3px 3px #b7ff3a;
}

p{
	font-size: 1.5rem;
}

.ad {
	width: 50%;
	margin: 0 auto;
	border: 1px solid black;
	box-shadow: 1px 1px 3px;
	padding: 1rem;
	text-align: left;
	background-color: #fff;
}
	.ad * {
		font-family: Arial;
	}
	.ad p {
		font-size: 1rem;
	}
	.ad a {
		color: blue;
		text-decoration: underline;
	}
		#green-links {
			color: green;
			text-decoration: none;
		}

.information {
	width: 80wv;
	margin: 0 auto;
}

.rain-graphic {
/*	opacity: .8;*/
	width: 100vw;
    position: absolute;
    animation-name: rain;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes rain {
    0%   {top:-800px;}
    100% {top:600px;}
}

#root{
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
}